a{
    text-decoration: none;
}
.form{
    position: relative;
}

.form .fa-search{
    position: absolute;
    top:13px;
    left: 20px;
    color: #9ca3af;
}

.form-input{

    height: 40px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
.move{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 20rem;
}
.move-card{
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    height: 10rem;
}
.height{
    height: 19rem;
}
.image{
    max-width: 100%;
}
.image:hover{
    -ms-transform: scaleY(1.1); /* IE 9 */
    -ms-transform: scaleX(1.1); /* IE 9 */
    transform: scaleY(1.0);
    transform: scaleX(1.1);
}